aniso8601==1.2.1
appdirs==1.4.4
astroid==2.4.2
beautifulsoup4==4.9.1
branca==0.4.2
bs4==0.0.1
camelcase==0.2
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.3.1
cycler==0.10.0
distlib==0.3.1
dynaconf==3.1.2
filelock==3.0.12
firebase==3.0.1
Flask==0.12.2
flask-googlemaps==0.4.1
Flask-Login==0.5.0
Flask-MySQL==1.5.2
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.1
folium==0.0.0
future==0.18.2
gcloud==0.18.3
gevent==21.1.2
gevent-websocket==0.10.1
gmplot==1.4.1
googleapis-common-protos==1.52.0
greenlet==1.0.0
htmlmin==0.1.12
httplib2==0.18.1
idna==2.10
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.8
joblib==1.0.0
jsmin==2.2.2
jwcrypto==0.8
jws==0.1.3
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mkdocs==1.1.2
mkdocs-material==5.5.14
mkdocs-material-extensions==1.0.1
mkdocs-minify-plugin==0.3.0
mysql-connector==2.2.9
nltk==3.5
nose==1.3.7
numpy==1.20.1
oauth2client==3.0.0
pandas==1.2.0
Pillow==7.1.2
pipenv==2020.11.15
protobuf==3.14.0
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.6
pycryptodomex==3.9.9
Pygments==2.7.3
pylint==2.6.0
pymdown-extensions==8.1
PyMySQL==1.0.2
pyparsing==2.4.7
Pyrebase-t==1.0.28
Pyrebase4==4.4.3
python-dateutil==2.8.1
python-jwt==2.0.1
pytz==2020.5
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.1
requests-toolbelt==0.9.1
rsa==4.7
scikit-learn==0.24.1
scipy==1.6.1
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.1.4
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.55.0
Unidecode==1.1.1
urllib3==1.22
virtualenv==20.2.2
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
Werkzeug==1.0.1
wrapt==1.12.1
xlwt==1.3.0
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.2.0
