<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel = "stylesheet" href="../static/styles/admin.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Pharmasearch Admin Center</h1>
                <a href="{{ url_for('adminHome') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('adminProfile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
            <h2>Profile Page</h2>
			<div>
    		<p>Your account details are below:</p>
    		<table>
			{% for user in users%}
        		<tr>
            		<td>Username:</td>
            		<td>{{ user.USERNAME }}</td>
        		</tr>
        		<tr>
            		<td>Password:</td>
            		<td>{{ user.PASSWORD }}</td>
        		</tr>
        		<tr>
            		<td>Email:</td>
            		<td>{{ user.EMAIL }}</td>
        		</tr>
        		<tr>
            		<td>Email Password:</td>
            		<td>{{ user.EMAILPASS }}</td>
        		</tr>
			{% endfor %}
    		</table>
			</div>
			<a href=ManageProfile><button style="background-color:#4eb5f1;height:75px;width:230px">Manage Profile</button></a>
		</div>

	</body>
</html>