<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel = "stylesheet" href="../static/styles/admin.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Pharmasearch Admin Center</h1>
                <a href="{{ url_for('adminHome') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('adminProfile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
            <h2>Manage Profile Page</h2>
            <form method="post" action="{{url_for('adminUpdate')}}" method = "post">
       		 	<label for="admin-username">Username</label>
      			<div class="col-75">
        			<input type="text" id="username" name="username" placeholder="Admin Username">
      			</div>
				<br>
        		<label for="admin-password">Password</label>
      			<div class="col-75">
        			<input type="text" id="password" name="password" placeholder="Admin Password">
      			</div>
				<br>
				<label for="admin-email">Email Address</label>
				<div class="col-75">
      				<input type="text" id="email" name="email" placeholder="Admin Email">
      			</div>
				<br>
				<label for="admin-email-password">Email Password</label>
      			<div class="col-75">
        			<input type="text" id="emailpass" name="emailpass" placeholder="Admin Email Password">
      			</div>
				<br>
				<br>
				<br>
      			<input type="submit" value="Update">
  			</form>
		</div>
	</body>
</html>