<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel = "stylesheet" href="../static/styles/index.css">
    <link rel = "stylesheet" href="../static/styles/rightContainer.css">
    <link rel = "stylesheet" href="../static/styles/icon.css">
    <link rel = "stylesheet" href="../static/styles/form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
      integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
      crossorigin="anonymous"
    ></script>
    <script language="JavaScript"type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    
</head>
<body>

  <main>
      <div class="left-nav">
        <ul class="nav">
          <div class = "logo1" >
            <img style="width: 400px;"src="../static/images/default.png" alt ="logo" href = "index.html">
            <p class="logo_description">
            New way of searching for medication. More efficient way to get accurate information.
            </p>
          </div>
          <li><a href="{{url_for('home')}}" id = "home-btn" >Home</a></li>
          <li><a href="{{url_for('search')}}" id = "search-btn"  >Search</a></li>
          <li><a class = 'active' href="{{url_for('update')}}" id = "update-btn" >Update</a></li>
          <li><a href="{{url_for('contact')}}" id = "contact-btn" >Contact</a></li>
        </ul>
      </div>
  </main>


  <div class="right-top-nav">
      <ul class="nav-bar">
        <li><a id="len1" class="hoverable" href="#Admin-content"> User</a></li>
        <li><a id="len2" class="hoverable" href="#User-content">Update Request</a></li>
        <li><a id="len3" class="hoverable" href="#Forum-content">Community</a></li>
      </ul>
  </div>
  <div style="margin-left:450px;">
  <div id="content-container" style="margin-left:50px;">
    <div class="body-content" id="Admin-content">

      <h>📝  Help us keep information up-to-date?</h>
        <img id="update-pic"src="../static/images/smellFlower.png" alt="update">
        <p>Send your request.</p> 
        <p>We will reach out to you soon!</p>
        <p>Thank you for your outstanding contribution to the website!</p>
        <br><br><br><br><br><br><br><br><br>
        <p style="font-family:'Comfortaa', sans-serif;font-size: 5px;color:gray;margin-top: 30%;">This website is created primarily for Canadian researchers, health professionals and students to aid in conversion of Drug Identification Numbers (DIN) to Anatomical Therapeutic Chemical classification codes (ATC) and vice versa.</p>
   </div>
   


   <div class="body-content" id="User-content">
         <p style="font-size: 20px;">User Update Info Page</p>
         <form method="post" action="{{url_for('userUpdate')}}" method = "post">
    <div class="row">
      <div class="col-25">
        <label for="email">Email</label>
      </div>
      <div class="col-75">
        <input type="text" id="email" name="email" placeholder="Your email address..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="drugcode">Drug Code</label>
      </div>
      <div class="col-75">
        <input type="text" id="drugcode" name="drugcode" placeholder="Drug to update...">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="codetype">Code Type</label>
      </div>
      <div class="col-75">
        <select id="codetype" name="codetype">
          <option value="DIN">DIN</option>
          <option value="ATC">ATC</option>
          <option value="other">Other</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Up-to-date information</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Send">
    </div>
  </form>

        <p style="font-family:'Comfortaa', sans-serif;font-size: 5px;color:gray;margin-top: 30%;">This website is created primarily for Canadian researchers, health professionals and students to aid in conversion of Drug Identification Numbers (DIN) to Anatomical Therapeutic Chemical classification codes (ATC) and vice versa.</p>
   </div>

   <div class="body-content" id="Forum-content">
    <img id="underconstruction"src="../static/images/underconstruction.jpg" alt="update">
      <p>All discussions and activities.</p>
      <p>Coming soon.</p>
      <br><br><br><br><br><br><br><br><br>
        <p style="font-family:'Comfortaa', sans-serif;font-size: 5px;color:gray;margin-top: 30%;">This website is created primarily for Canadian researchers, health professionals and students to aid in conversion of Drug Identification Numbers (DIN) to Anatomical Therapeutic Chemical classification codes (ATC) and vice versa.</p>
   </div>
   
  </div>
</div>
</body>

<script>
  $('.nav a').click(function(){
    $('.nav a').removeClass('active');
    $(this).addClass('active');
  })
</script>
</html>