<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel = "stylesheet" href="../static/styles/admin.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Pharmasearch Admin Center</h1>
                <a href="{{ url_for('adminHome') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('adminProfile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
            <h2>View Database Page</h2>
            <p>Database here</p>
		</div>

	</body>
</html>